.page-header.flex.row-layout.vertical-center
  h1.fill-layout Create Transaction
.flex.row-layout
  .breadcrumb.fill-layout
    ul
      li
        a(ui-sref="home")
          i.mdi.mdi-chevron-left
          | Go back
form.span-third(ng-submit="create()")
  .form-group
    label Person
    input(type="text" ng-model="transaction.name")
  .form-group
    label Description
    textarea(ng-model="transaction.description")
  .form-group
    label Amount
    input(type="text" ng-model="transaction.amount")
  .form-group
    input.button(type="submit" value="Create Transaction")