html
  head
    title ProjectX
    link(rel="stylesheet" href="css/app.min.css")
  body
    .app.flex.column-layout
      header
        .container-fluid.flex.row-layout.vertical-center
          .logo Hello
          nav.fill-layout
            ul.flex.start-right
              li
                a(href="#") Logged in as Chidiebere I. Nnadi
      section.main.flex.row-layout.fill-layout
        .sidebar
          ul
            li.selected
              a(href="#") Transactions
            li
              a(href="#") Bank Accounts
            li
              a(href="#") Configured Numbers
        .content-pane.has-scrollable.fill-layout
          .scrollable
            .page
              .page-header.flex.row-layout.vertical-center
                h1.fill-layout Transaction
                a.button(href="#") Add Transaction
              .flex-table
                .header.flex.row-layout
                  .fill-layout Transaction Description
                  .fixed-size Status
                  .fixed-size Date
                .row.flex.row-layout
                  .fill-layout
                    span.pointer ▶
                    a(href="#") Transaction Description
                  .fixed-size
                    span.status.confirmed Confirmed
                  .fixed-size Date
                .row.flex.row-layout
                  .fill-layout
                    span.pointer ▶
                    a(href="#") Transaction Description
                  .fixed-size
                    span.status.declined Not confirmed
                  .fixed-size Date
